/* Write your CSS here */
.planet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-heading {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto;
  color: #f1f5f9;
}
.description {
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  color: #f8fafc;
  text-align: center;
}
.image {
  height: 300px;
  width: 300px;
}
