/* Write your CSS here */
.slider-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png);
  padding: 40px;
  background-size: cover;
  height: 100vh;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto;
  color: #05acff;
  text-align: center;
}
